.iconText {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--gray-600);

  svg {
    width: 0.938rem;
    height: 0.938rem;
    margin-right: 0.5rem;
  }

  & + .iconText {
    padding-left: 1.25rem;
  }
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.preview {
  width: 100%;
  background-color: var(--white-500);
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 3rem 0 3rem 0;

  a {
    font-weight: bold;
    color: var(--black-900);
    font-size: 1.125rem;
  }

  transition: filter 2s;

  &:hover {
    filter: brightness(0.8);
  }
}
